DATABASE_URL="file:./dev.db"
APP_URL="http://localhost:3000"
AUTH_SECRET="change-this-to-a-secure-random-string-in-production"

ZAHIR_API_URL=""
ZAHIR_API_KEY=""
ZAHIR_WEBHOOK_SECRET=""
ZAHIR_COMPANY_ID=""
ZAHIR_ENVIRONMENT="sandbox"

EMAIL_HOST=""
EMAIL_PORT="587"
EMAIL_USER=""
EMAIL_PASSWORD=""

STORAGE_PATH="./uploads"
MAX_FILE_SIZE=10485760

PORT=3001
NODE_ENV=development
